/* Importação de Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Variáveis */

:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
    --branco-dnc: #FFFFFF;

    --fonte-padrao: 'Inter';

}


body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 45%), #303030;
    background-repeat: no-repeat;
    border: 1px solid #BABABA;

}

/* Menu de Navegação */
#principal {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}
    #menu {
        margin-left: 5%;
        display: flex;
        width: 45%;
        justify-content: space-around;
        align-items: center;
        
    }
    #principal div a {
        font-family: var(--fonte-padrao);
        font-size: 25px;
        font-weight: 600;
        color: var(--branco-dnc);
        text-decoration: none;
        
    }

    #principal div a:hover {
        color: var(--cinza-hover);
    }

    #principal button {
        margin-right: 10%;
        background-color: var(--azul-dnc);
        border:0px;
        width: 80px;
        height: 40px;
        font-family: var(--fonte-padrao);
        font-size: 20px;
        font-weight: 600;
        color: var(--branco-dnc);
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);      
        cursor: pointer;      
    }

    /* Seção Principal */

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }   

    header {
        color: var(--branco-dnc);
        font-family: var(--fonte-padrao);
    }

    header h1{
        font-size: 80px;
        font-weight: 800;
        text-align: center;

        margin-bottom: 20px;
    }

    header h2{
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 100px;
    }

    header .invert {
        background-color: black;
        font-weight: bold;
        padding: 5px;
    }

    /* Formulário */

    form {
        font-family: var(--fonte-padrao);
        font-size: 26px;
        font-weight: 600;
        width: 600px;
        color: var(--branco-dnc);
        justify-content: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top:10px;
        margin-bottom:10px;
    }

    form input {
        border-radius: 10px;
        border: none;
        height: 30px;
        font-size: 18px;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    form label{
        margin: 10px 0px 10px 0px;
    }

    form input::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }

    .checkbox-items label{
        font-size:23px;
    }

    .checkbox-items {
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    input[type="checkbox"]{
        transform: scale(1.7);
    }

    input[type="submit"]{
        background-color: var(--azul-dnc);
        color: var(--branco-dnc);
        width: 100%;
        height: 56px;
        border-radius: 10px;
        border: none;
        font-size: 26px;
        font-weight: 600;
        margin-top: 80px;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        cursor: pointer;  
    }
    
    /* Rodapé */

    footer {
        font-family: var(--fonte-padrao);
        width: 100%;
        background-color: var(--azul-dnc);
        color: var(--branco-dnc);
    }

    footer .linha1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        font-weight: 600;
        font-size: 20px;

    }

    footer ul li{
        text-align: center;
        margin: 20px 0px 20px 0px;
    }

    footer ul li a{
        text-decoration: none;
        color: var(--branco-dnc);
    }

    footer ul li a:hover{
        color: var(--cinza-hover)
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
    }

    footer h5{
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        background-color: var(--preto-dnc);
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 15px;
    }

    footer p{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }

    footer .linha2{
        height: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }

    footer .linha2 a{
        text-decoration: none;
        color: var(--branco-dnc);
        font-weight: 600;
        padding: 10px;
    }

    footer .linha2 a:hover{
        color: var(--cinza-hover)
    }

    footer .linha2 a:first-child{
        border-right: 3px solid white;
    }

@media only screen and (max-width: 600px){

    /* Menu */
    
    #principal{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }

    #menu a{
        display: flex;
        align-items: center;
        height: 35px;
    }

    #principal div a {
        font-size: 20px;
    }

    #principal button{
        width: 100%;
        margin: 0px;
    }
    
    /* Sessão */
    
    section {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 28px;
        padding: 0px 15px 0px 15px;
        margin-bottom: 50px;
    }

    header .invert {
        background-color: black;
        font-weight: bold;
        padding: 2px;
    }
 
    /* Formulário */

    form {   
        width: 95%;
        font-size: 18px;
    }

    form input {
        height: 25px;
        font-size: 16px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    form label{
        margin: 5px 0px 5px 0px;
    }

    form input::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }

    .checkbox-items label{
        font-size:16px;
    }
    
    input[type="submit"]{
        height: 46px;
        font-size: 18px;
        margin-top: 20px;
    }

    /* Rodapé */

    footer .linha1{
        flex-direction: column;
    }

    footer .linha2{
        height: 265px;
        
    }

    footer .dados{
        width: 95%;
        margin-bottom: 20px;
    }
